body {
	font-family: arial, sans;
	font-size: 12px;
}

table {
	margin: 8px 0 0 0;
	border-collapse: collapse;
}

table td.job-desc {
	width: 250px;
	overflow: hidden;
}

table td.job-result {
	width: 70px;
}

table td.job-button,
table td.job-arrow {
	width: 40px;
}

table tr.job-reference {
	color: #3A6EA5;
}

table th,
table td {
	padding: 4px;
	vertical-align: baseline;
	border: 1px solid #ddd;
}

table td.job-arrow {
	border: none;
	font-size: 18px;
	font-weight: bold;
}

table th {
	text-align: left;
	font-weight: bold;
}

#job-results {
	position: absolute;
	top: 0;
	left: 500px;
	margin: 0;
}	

